<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>더하기 버튼</title>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
</head>
<body>
<h2>Ajax-LAB</h2>


<input type="text" id="a">
<sapn> + </sapn>
<input type="text" id="b">
<button type="button" onclick="plus()">합계 계산하기</button>

<div>
<span>합계 : </span>
<span id="result"></span>
</div>
</body>

<script type="text/javascript">

 	function plus(){
 		
 		//입력값 받기 // int 변환
 		let a = parseInt(document.getElementById('a').value); 
 		let b = parseInt(document.getElementById('b').value);
 		
 		
		const params = {
				"aa" : a,
				"bb" : b
		}
	

	$.ajax({
		
		type : "post", 
		url : "/ajax-lab", 
		data:JSON.stringify(params),			// 변수를 서버로 전송 시 JSON선언 후 전송
		contentType:"application/json",
		success : function(result){
			
			//$(선택자).동작함수();
			$("#result").html(result);
			console.log("성공")
		}
	});
	
	}

</script>
</html>